$navbar-height: 80px;

.navbar{
    @extend .clearfix;
    @extend .container-fluid;

    background-color: $color-dark;

    >ul{
        >li{
            float: left;

            a{
                @include transition;

                display: block;
                padding: 0 20px;
                color: $color-light;
                font-size: 16px;

                @include respond-to('small'){
                    padding: 0 15%;
                }

                &:hover{
                    background-color: $color-module;
                }
            }
        }
    }

    .navbar-left,
    .navbar-right{
        height: $navbar-height;
        line-height: $navbar-height;
    }

    .navbar-left{
        float: left;

        .logo{
            @include transition;

            display: inline-block;
            background: url('../img/logo-navbar.png') no-repeat center;
            background-size: contain;
            width: 60px;
            height: $navbar-height;

            &:hover{
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
            }
        }
    }

    .navbar-right{
        float: right;
    }

    .language-switcher{
        position: relative;

        >div{
            height: 80px;
            width: 80px;
        }

        >ul{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;

            >li{
                height: 40px;
                display: block;

                a{
                    line-height: 40px;
                }
            }
        }
    }
}
