$navbar-height: 80px;

.navbar{
    @extend .clearfix;
    @extend .container-fluid;

    background-color: $color-dark;

    >ul{
        >li{
            float: left;

            a{
                @include transition;

                display: block;
                padding: 0 20px;
                color: $color-light;
                font-size: 16px;

                @include respond-to('small'){
                    padding: 0 15%;
                }

                &:hover{
                    background-color: $color-module;
                }
            }
        }
    }

    .navbar-left,
    .navbar-right{
        height: $navbar-height;
        line-height: $navbar-height;
    }

    .navbar-left{
        float: left;

        .logo{
            @include transition;

            display: inline-block;
            background: url('../img/logo-navbar.png') no-repeat center;
            background-size: contain;
            width: 60px;
            height: $navbar-height;

            &:hover{
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
            }
        }
    }

    .navbar-right{
        float: right;
    }

    .language-switcher{
        position: relative;
        width: $navbar-height;
        height: $navbar-height;
        cursor: pointer;

        >span{
            color: $color-light;
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
        }

        >span,
        i{
            display: inline-block;
            vertical-align: middle;
        }

        .icon-language{
            background: url('../img/icon-language.svg') no-repeat center;
            background-size: contain;
            width: 20px;
            height: 20px;
            margin: 0 5px 0 10px;
        }

        >ul{
            @include transition;

            visibility: hidden;
            opacity: 0;

            &.visible{
                visibility: visible;
                opacity: 1;
            }

            position: absolute;
            top: calc(100% + 20px);
            top: -moz-calc(100% + 20px);
            left: 0;
            right: 0;

            &:before{
                content: '';
                position: absolute;
                top: -20px;
                left: calc(50% - 10px);
                left: -moz-calc(50% - 10px);
                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid $color-dark;
                border-left: 10px solid transparent;
            }

            >li{
                display: block;

                a{
                    line-height: 40px;
                    background-color: $color-dark;
                    font-size: 14px;
                    padding: 0;
                    text-align: center;
                    border-radius: 2px;
                    height: 40px;
                }
            }
        }
    }
}
