/* font settings */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

%main-font{
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $color-dark;
}

a{
    text-decoration: none;
}

body{
    @extend %main-font;
}

h1{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 40px;
}

h2{
    font-size: 24px;
    margin-bottom: 20px;
}

h3{
    font-size: 18px;
    margin-bottom: 10px;
}
