.clearfix{
    &:after{
        content: '';
        display: table;
        clear: both;
    }
}

// sass map containing breakpoints
$breakpoints: (
  'small'  : 767px,
  'medium' : 992px,
  'large'  : 1200px
);

@mixin respond-to($breakpoint){
    // retrieves the value from the key
    $value: map-get($breakpoints, $breakpoint);

    // if the key exists in the map
    @if $value != null{
        // prints a media query based on the value
        @media (max-width: $value){
            @content;
        }
    }

    // if the key doesn't exist in the map
    @else{
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Please make sure it is defined in `$breakpoints` map.";
    }
}

/// Replace '$search' with '$replace' in '$string'
@function str-replace($string, $search, $replace: ''){
    $index: str-index($string, $search);
  
    @if $index{
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
  
    @return $string;
}
