/* font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@mixin set-font($family: null, $weight: null, $color: null, $size: null){
    font-family: $family;
    font-weight: $weight;
    color: $color;
    font-size: $size;
}

body{
    @include set-font(Montserrat, 400, $color-dark);
    
    background-color: $color-light;
    font-size: 16px;
    line-height: 1;
}

h1{
    margin-bottom: 5%;
    line-height: 0.8;
    font-weight: bold;
    line-height: 1;
    
    @include set-font(null, null, null, 10vw);
    @include respond-to('small'){
        font-size: 48px;
    }
}

h2{
    @include set-font(null, 700, $color-module-dark, 8vw);
    @include respond-to('small'){
        font-size: 36px;
    }
}