/* color code */

/*$color-dark: #495159;
$color-light: #A1E8CC;
$color-gray: #f2f2f2;*/

$color-dark: #022B3A;
$color-light: #f2f2f2;
$color-module-dark: #1F7A8C;
$color-module-light: #BFDBF7;

$border-color: #e2e2e2;


